.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 150px auto 0; /* Centralize the carousel and add top margin */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    display: flex;
    will-change: transform;
}

.carousel-image {
    width: 100%;
    flex: 0 0 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
    background: none;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}


@media (max-width: 480px){
    .carousel{
        width: 90%;
        margin: 100px auto 0; 
    }
}